---
---
@charset "utf-8";

// Navigation bar
.nav-brand, .nav-btn, .nav-links, .wb-mb-links {
  padding-top: 1em;
  padding-bottom: 1em; }
.nav-btn{
  margin-top: 3px; }
.masthead{
  background-color: hsl(204, 86%, 53%); }
#wb-sm{
  .nav-left{
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .nav-brand{
      a{
        margin-right: 1em;
      }
    }
  }
  .nav-right{
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;  }
}
@media screen and (max-width: 991px){
  #wb-sm{
    .nav-right{
      flex: 0 1 auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center; }
  }
}
// Search bar
.search{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 40px;
  padding: 2rem;
  background-color:#FFB14B;
  margin-top: 1rem;
  .search-text{
    border: 0;
    border-bottom: 2px solid black;
    text-align: center;
    background-color: inherit;
    &:focus{
      background-color: darken(#FFB14B, 15%);
    }
  }
  .search-feedback{
    font-size: 1.6rem;
    text-align: center;
    a{
      color: #fff; 
    }
  }
}

// Data index


// Footer
.foot-container{
  border-top: #eee 2px solid;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  .foot-left{
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .foot-right{
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .foot-links{
      padding-right: 5rem;
    }
  }
}
// Indicator cards
.indicator-block{
  margin-top: 2.5rem;
  padding: 2rem;
  background: lighten(#75C1F2, 25%);
  position: relative;
  &:first-child{
    margin-top: 5px;
  }
  .indicator-header{
    display: inline-block;
    .indicator-title{
      margin-top: 0;
    }
  }
  .indicator-permalink{
    position: absolute;
    top: 3px;
    left: -32px;
    height: 32px;
    width: 32px;
    background: #FFB14B;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 26px;
    &:hover{
      background: #999;
      color: #fff;
    }
  }
  .indicator-chart{
    .chart{
      display: none;
      padding-top: 15px;
      &.on{
        display: block;
      }
      .ct-bar{
        @media screen and (max-width: 767px){
          stroke-width: 12px;
        }
      }
      @media screen and (max-width: 767px){
        overflow-x: scroll;
      }
    }
  }
  .indicator-footer{
    details{
      &[role=tabpanel]{
        border: 0;
      }
    }
    .wb-tabs{
      >{
        ul{
          li{
            
          }
        }
      }
    }
  }
}

// WET-BOEW core
@import 'theme/theme';
// Chartist core
@import 'chartist/chartist';
