<div class="row">
  <div class="container">
    <div class="brand">
      <div class="nav-left">
        <div class="nav-brand">
          <a href="{{ site.baseurl }}/" tabindex="0">
            <img src="{{ "/assets/bannerAvenir.png" | absolute_url }}" alt="Discover Me Logo" height="66">
            <span class="wb-inv" property="name">Return to the home page</span>
          </a>
        </div>      
      </div>
      <div class="nav-right">
        <div class="nav-btn visible-md visible-lg">
          <a class="btn btn-lg btn-warning"
             href="https://github.com/durhamregionHARP/PMO-data-explorer"
             target="_blank"
             role="button"
             tabindex="0">
            Fork us on GitHub <span class="glyphicon glyphicon-new-window"></span>
          </a>
        </div>
      </div>
      <nav id="wb-sm" class="wb-menu" data-trgt="mb-menu" role="navigation" typeof="SiteNavigationElement">
        <section id="wb-glb-mn" class="wb-mb-links visible-sm visible-xs">
          <h2>Main Menu</h2>
          <a href="#mb-menu" title="Main menu" aria-controls="mb-menu" class="overlay-lnk btn btn-default" role="button">
            <span class="wb-inv">Open the main menu</span>
            <span class="glyphicon glyphicon-th-list"></span>
          </a>
          <div id="mb-menu" class="wb-overlay modal-content overlay-def wb-panel-r" aria-hidden="true">
          </div>
        </section>        
      </nav>  
    </div>
  </div>
</div>
