<div class="row">
  <div class="col-xs-12 mrgn-tp-sm data-index">
    <button title="Expand this section"
            class="wb-toggle index-toggle"
            data-toggle='{"selector":".data-index","type":"on"}'>
      <span class="wb-inv">Open the</span>Index of data
    </button>
    <div class="index-container">
      <div class="row">
        {% assign categories = site.data.pmo.indicators | group_by: "category" %}
        {% for category in categories %}
        <div class="col-md-3">
          <span class="h3">{{ category.name }}</span>
          <ul class="index-links">
          {% for item in category.items %}
            <li>
              <a href="#{{ item.pmoName | slugify }}">
              {{ item.pmoName }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
        {% endfor %}        
        <div class="index-close">
          <a title="Close this section"
             class="wb-toggle"
             data-toggle='{"selector":".data-index","type":"off"}'
             tabindex="0">X</a>
        </div>
      </div>
    </div>
  </div>
</div>
