<div class="row">
  <div class="col-xs-12 mrgn-tp-sm data-index">
    <details>
      <summary>
        Index of data
      </summary>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="h3">Category 1</span>
            <ul class="indicator-links">
              <li>indicator</li>
              <li>indicator</li>
              <li>indicator</li>
            </ul>
          </div>
          <div class="col-md-4">
            <span class="h3">Category 1</span>
            <ul class="indicator-links">
              <li>indicator</li>
              <li>indicator</li>
              <li>indicator</li>
            </ul>
          </div>
          <div class="col-md-4">
            <span class="h3">Category 1</span>
            <ul class="indicator-links">
              <li>indicator</li>
              <li>indicator</li>
              <li>indicator</li>
            </ul>
          </div>
        </div>
      </div>
    </details>
  </div>
</div>
