<div class="row">
  <div class="col-xs-12 mrgn-tp-sm data-index">
    <button title="Expand this section"
            class="wb-toggle index-toggle"
            data-toggle='{"selector":".data-index","type":"on"}'>
      <span class="wb-inv">Open the</span>Index of data
    </button>
    <div class="index-container">
      <div class="row">
        {% assign categories = site.data.pmo.indicators | sort: "category" | group_by: "category" %}
        {% for category in categories %}
        <div class="col-md-3">
          <h3>
            <a class="index-link" href="#cat={{ category.name | slugify }}">{{ category.name }}</a>
          </h3>
          <ul class="index-links">
          {% assign sorted_items = (category.items | sort: "pmoName") %}
          {% for item in sorted_items" %}
            <li>
              <a class="index-link" href="#ind={{ item.pmoName | slugify }}">
              {{ item.pmoName }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
        {% endfor %}        
      </div>
      <div class="index-close">
        <button 
           id="close-index"
           title="Close this section"
           class="btn btn-link wb-toggle"
           data-toggle='{"selector":".data-index","type":"off"}'>
           <span class="fas fa-times"></span>
           <span class="wb-inv">Close this section</span>
      </button>
      </div>
    </div>
  </div>
</div>
