<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ "/script/src/wet-boew.js" | absolute_url }}"></script>
<script src="{{ "/script/src/details.js" | absolute_url }}"></script>
<script src="{{ "/script/src/chartist.min.js" | absolute_url }}"></script>
<script src="{{ "/script/src/pmo.js" | absolute_url }}"></script>
<!-- <script src="{{ "/script/src/charts.js" | absolute_url }}"></script> -->
<script src="{{ "/script/src/search.js" | absolute_url }}"></script>
