<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ "/script/src/wet-boew.js" | absolute_url }}"></script>
<script src="{{ "/script/src/chartist.js" | absolute_url }}"></script>
<script src="{{ "/script/src/chartist-error-bars.js" | absolute_url }}"></script>
<script src="{{ "/script/src/chartist-plugin-tooltip.js" | absolute_url }}"></script>
<script src="{{ "/script/src/chartist-plugin-legend.js" | absolute_url }}"></script>
<script src="{{ "/script/src/pmo.js" | absolute_url }}"></script>
<script src="{{ "/script/src/search.js" | absolute_url }}"></script>
